<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Fake News Prediction</title>
  </head>
    <style>
        h1,h2{
            text-align: center;
            font-family: Helvetica;
        }
        p{
            font-family: Helvetica;
            font-size: 30px;
        }
        
    </style>
  <body>
    {% extends "template.html" %}
    {% block content %}
    
    <marquee direction="left" behavior="alternate" bgcolor="yellow">FAKE!!REAL!!FAKE!!REAL!!FAKE!!REAL!!FAKE!!REAL!!FAKE!!REAL!!FAKE!!REAL!!FAKE!!REAL!!FAKE!!REAL!!FAKE!!REAL!!FAKE!!REAL!!FAKE!!REAL!!FAKE!!REAL!!FAKE!!REAL!!FAKE!!REAL!!FAKE!!REAL!!FAKE!!REAL!!FAKE!!REAL!!FAKE!!REAL!!FAKE!!REAL!!FAKE!!REAL!!</marquee>
      <h2> FAKE NEWS DETECTOR CHATBOT </h2>
      <H2>&</H2>
    <h2> FAKE NEWS DETECTION WEBSITE </h2><br>
      <marquee direction="left" behavior="alternate" bgcolor="yellow">FAKE!!REAL!!FAKE!!REAL!!FAKE!!REAL!!FAKE!!REAL!!FAKE!!REAL!!FAKE!!REAL!!FAKE!!REAL!!FAKE!!REAL!!FAKE!!REAL!!FAKE!!REAL!!FAKE!!REAL!!FAKE!!REAL!!FAKE!!REAL!!FAKE!!REAL!!FAKE!!REAL!!FAKE!!REAL!!FAKE!!REAL!!FAKE!!REAL!!FAKE!!REAL!!FAKE!!REAL!!</marquee>
      <h2>Problem Statement:</h2>
      <p ><ul>
      <li>Detect if a news is FAKE or REAL.</li>
      <li>Provide user with the news from Trusted Sources only.</li>
      </ul></p><marquee direction="left" behavior="alternate" bgcolor="yellow">FAKE!!REAL!!FAKE!!REAL!!FAKE!!REAL!!FAKE!!REAL!!FAKE!!REAL!!FAKE!!REAL!!FAKE!!REAL!!FAKE!!REAL!!FAKE!!REAL!!FAKE!!REAL!!FAKE!!REAL!!FAKE!!REAL!!FAKE!!REAL!!FAKE!!REAL!!FAKE!!REAL!!FAKE!!REAL!!FAKE!!REAL!!FAKE!!REAL!!FAKE!!REAL!!FAKE!!REAL!!</marquee>
      <h2>-: Tech_Stack Used:-</h2><br>
   <h2>Machine Learning Model</h2>
      <h2>Web Scrapping (newsapi)</h2>
      <h2>Flask Framework</h2>
      <h2>Telegram ChatBot</h2>
    <br><marquee direction="left" behavior="alternate" bgcolor="yellow">FAKE!!REAL!!FAKE!!REAL!!FAKE!!REAL!!FAKE!!REAL!!FAKE!!REAL!!FAKE!!REAL!!FAKE!!REAL!!FAKE!!REAL!!FAKE!!REAL!!FAKE!!REAL!!FAKE!!REAL!!FAKE!!REAL!!FAKE!!REAL!!FAKE!!REAL!!FAKE!!REAL!!FAKE!!REAL!!FAKE!!REAL!!FAKE!!REAL!!FAKE!!REAL!!FAKE!!REAL!!</marquee>
      
    
    {% endblock %}
  </body>
</html>